* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-stack: poppins, sans-serif;
  --primaryC: #65f1e4;
  --secondaryC: #140c62;
  --textC: #6f81a5;
  --backgroundC: #140c62;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--textC);
  background: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondaryC);
}
